@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalam:wght@400;700&family=Pacifico&family=Shadows+Into+Light&family=Sriracha&display=swap');

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;


}

html {
    scroll-behavior: smooth;
}

.container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;

    flex-direction: column;
}

.about-subject {
    position: absolute;
    top: 200px;
    /* font-family: 'Kalam', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Sriracha', cursive;
    font-weight: lighter;
}

.nav-bar {
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    /* border: 1px solid; */

}

.logo-background {
    z-index: 3;
    top: 0;
    left: 0;
    border-top: 0px solid transparent;
    border-left: 600px solid #805acb;
    border-bottom: 130px solid transparent;
    opacity: 49%;
}

.logo {
    background-color: transparent;
    height: 100px;
    width: 200px;
    /* border: tomato 1px solid; */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;


}

/* .logo h1 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
} */

.menu {
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    /* justify-content: flex-end; */
    /* border: 1px solid blue; */


}

.list-background {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100px solid #00251a;
    border-left: 170px solid transparent;
    border-right: 0px solid transparent;
    width: 70%;
    opacity: 49%;
    /* z-index: 2; */
}

a {
    text-decoration: none;
    color: white;
    /* color: black; */
}

h1 {
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    /* font-style: italic; */
    text-decoration: none;
    color: black;
}

.list {
    width: inherit;
    height: 50px;
    /* border: 1px gray solid; */
    display: flex;
    justify-content: flex-end;
    padding: 35px 30px;
    z-index: 7;
}

li {
    padding-left: 40px;
    font-size: 1.2rem;


}

.footer {
    padding: 10px 20px;
    text-align: center;
    background: #ddd;
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* margin-top: 10px; */
}

.footer-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    /* border: 1px solid ; */
    padding: 0px;
}

.footer-logo>h1 {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    /* font-style: italic; */
}

.footer-logo>i {
    font-size: 0.7rem;
    margin: auto 0;
}

.icon {
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
}

.icon i {
    padding: 10px 20px;
    font-size: 1.3rem;
    color: black;
}

/* main */

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid black; */
}

.scroll-up-btn {
    height: 70px;
    width: 70px;
    background-color: ghostwhite;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
}

.scroll-up-btn .fas{
    color:  #805acb;
    font-size: 2rem;
}
.profile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.background {
    height: 300px;
    width: 270px;
    background-color: #805acb;
    transform: rotate(-15deg);
    position: absolute;
    opacity: 60%;
    z-index: 0;
}

.profile-img {
    display: flex;
    width: 100%;
    /* height: 50%; */

    margin-top: 350px;
    justify-content: center;
    align-items: center;
}

.profile-img>img {
    height: 310px;
    width: 250px;
    object-fit: cover;
    z-index: 2;
}

.intro-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    font-family: 'Cafe24Oneprettynight';

}

.sub-info {
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* border: 1px solid green; */
    padding-top: 80px;
}

.sub-info a {
    /* background-color: rgba(255, 224, 130, 0.6); */
    background-color: rgba(84, 74, 125, 1);
    height: 144px;
    width: 144px;
    border-radius: 72px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
    cursor: pointer;
    font-family: 'Sriracha', cursive;

}

.sub-info p {
    text-align: center;
    line-height: 144px;
    /* text-transform: uppercase; */
    font-weight: bold;
    /* color: #805acb; */
    /* color: #544a7d; */
    color: ivory;
    font-size: 1.2rem;
}

.sub-info-contents {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.like {
    height: 900px;
    width: 100%;
    padding-top: 160px;
    /* border: 1px black solid; */
}

.like>p {
    font-size: 2rem;
    /* font-weight: bold; */
    height: 80px;
    font-family: 'Sriracha', cursive;
}

.like img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    /* z-index: 1; */
}

.logo-text {
    font-family: 'Shadows Into Light', cursive;

}

.text-line {
    display: flex;
}

.likes-container {
    height: 70%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    z-index: 3;

    /* background-image: url(./images/likes.png);
    background-size: cover;
    background-position: center; */
}



.likes-contents,
.dislikes-contents {
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* border: 1px solid blue; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);
}

.likes-contents {
    /* background-image: url(./images/likes.png); */
    background-size: cover;
    background-position: center;
}

.dislikes-contents {
    /* background-image: url(./images/dislikes.jpg); */
    background-size: cover;
    background-position: center;
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Bounce Out */
.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-out:hover,
.hvr-bounce-out:focus,
.hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.item {
    /* background-image: url(./images/text-bubble.png); */
    background-size: 100% 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;

    display: inline-block;
    /* line-height: 150px; */
    /* margin-left:15px; */
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.item {
    height: 100%;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Sriracha', cursive; */

}

.item>p {
    background-image: url(./images/cloud.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.interest-container {
    height: 1000px;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */


    /* font-family: 'InfinitySans-RegularA1'; */
    /* border: 1px dotted red; */
    /* background-image: url(./images/healthy.png);
    background-repeat: no-repeat; */

}

.interest-left-image {
    height: 100%;
    width: 35%;
    /* background-color: tan; */
    /* border: 2px solid blue; */
    background-image: url(./images/healthy.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: contain;
}

.interest-right-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.interest-content-title,
.interest-content-main,
.interest-conten {

    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    flex-direction: column;

}

.interest-right-content-title {
    /* height: 35%; */
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
    height: 35%;


}

.interest-right-content-main {
    height: 75%;
    justify-content: space-evenly;
    /* background-color: yellowgreen; */
}

.interest-letter-wrapper {
    height: 60%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Cafe24Oneprettynight';

}

.interest>p {
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
    /* font-weight: bold; */
    height: 50px;

    /* padding-top: 100px; */
    /* font-family: 'Cafe24Oneprettynight'; */
    /* font-family: 'JSDongkang-Regular'; */
}


/* .interest-content{
    height: 700px;
    width: 100%;
    background-image: url(./images/healthy.png);
    background-repeat: no-repeat;
    background-size:inherit;
    padding-top: 160px;
  
} */
.interest-content p {
    font-size: 1.2rem;
    font-family: 'Cafe24Oneprettynight';
    padding-top: 20px;
    /* font-family: 'JSDongkang-Regular'; */
}


/* chracter */
.chracter-container {

    width: 100%;
    height: 700px;

    /* border: 2px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;


}

.chracter-left-content {
    flex-direction: column;
}

.chracter-left-content,
.chracter-left-content-main,
.chracter-left-content-title,
.chracter-left-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chracter-left-content-main {

    width: 100%;
    height: 40%;

    /* justify-content: flex-end; */
    align-items: flex-end;
    /* background-color: cornsilk; */


}

.chracter-left-bottom {
    width: 100%;
    height: 40%;

    /* background-color: violet; */

    font-size: 1.2rem;
    font-family: 'Cafe24Oneprettynight';


    flex-direction: column;

    justify-content: space-evenly;
}


.letter-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-family: 'Cafe24Oneprettynight';

    /* background-color: yellow; */

    flex-direction: column;
}

.chracter-left-content-title {
    width: 100%;
    font-size: 2rem;
    font-family: 'Sriracha', cursive;

    height: 20%;
    /* background-color: cadetblue; */
}

.chracter-left-content {
    height: 100%;
    width: 60%;

    /* background-color: burlywood; */
}

.chracter-right-image {
    height: 100%;
    width: 40%;


    /* border: 2px solid black; */

    background-image: url('./images/me.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chracter-left-bottom .btn {
    background-color: rgba(12, 198, 221, 1);
    animation-name: click;
    animation-duration: 0.8s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes click {
    0% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1.0;
    }
}
.btn {
    background-color: #544a7d;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    font-weight: 700;
    /* padding: 0 50px; */
    margin: 0 auto;
    cursor: pointer;
}

/* modal-main */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity .5s;

}

.bg-active {
    visibility: visible;
    opacity: 1;
}


.modal-content {
    background-color: white;
    width: 50%;
    height: 50%;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.modal-check {
    background-color: #3498DB;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    font-weight: 700;
    padding: 0 34px;
    margin: 0 auto;
    cursor: pointer;

}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;

}

input,
select {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border-color: lightgrey;

}

/* modal-result */

/* best */
.modal-best {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity .5s;

}

.modal-best-content {
    background-color: white;
    width: 50%;
    height: 50%;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.modal-best-content .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}


.best-active {
    visibility: visible;
    opacity: 1;
}

/* good */
.modal-good {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity .5s;

}

.modal-good-content {
    background-color: white;
    width: 50%;
    height: 50%;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.good-active {
    visibility: visible;
    opacity: 1;
}

/* notBad */
.modal-notBad {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity .5s;

}

.modal-notBad-content {
    background-color: white;
    width: 50%;
    height: 50%;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.notBad-active {
    visibility: visible;
    opacity: 1;
}


/* nomal */
.modal-normal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity .5s;

}

.modal-normal-content {
    background-color: white;
    width: 50%;
    height: 50%;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.normal-active {
    visibility: visible;
    opacity: 1;
}

.miffy {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./images/miffy.png');
    background-size: contain;
    background-position: center;

    background-repeat: no-repeat;

    z-index: -1;

    transition: 2s;
    transform: translateY(-20px);
}

#miffy:hover .miffy {
    transform: translateY(-70px);
}

.btn-container {
    height: 100%;
}

/* response */

@media screen and (max-width : 320px) {
    
}